.active{
    color: orange;
}
.inactive{
    color: black;
}
/* .Star{

    display:flex;
    justify-content: center;
} */
.context{

    display:flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}
